aiohttp==3.7.3
asyncpraw==7.3.1
asyncprawcore==1.5.0
cryptography==3.3.1
danbot-hosting-py
dblpy==0.4.0
discord-interactive==4.0
discord-py-slash-command==1.0.8.5
discord.py==1.7.3
disputils
dnspython
dpymenus==2.1.5
humanize>=3.7.0
humor-langs==1.0.1
jishaku==2.0.0
loremipsum==1.0.5
motor==2.3.0
numpy==1.19.4
parsedatetime==2.6.0
poetry==1.0.5
pymongo==3.11.2
python-dotenv
git+https://github.com/iDutchy/sr_api.git@master#egg=sr_api
termcolor
typing-extensions==3.7.4.3
ujson==4.0.1
umongo==3.0.0